    <!--jumbotron-->
    <div class="container" style="padding: 10px;">
      <div class="jumbotron">
        <h1 class="display-4"><%- title %></h1>
        <p class="lead">Hello! We are <strong>Group 6</strong>! Welcome to our survey site!</p>
        <hr class="my-4">
      </div>
  </div>